.espacement-nav{
    margin-bottom: 50px;
    .nav {
        margin-top: 25px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        .logo {
            width: $logo-size;
        }
        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            gap: 50px;
            .gras {
                font-weight: bold;
            }
        }
    }
}